<a href="https://colab.research.google.com/github/Aswinramesh04/Python-Course/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY - 1 (Intro.)

In [1]:
print("hello")

hello

In [4]:
if 10>2:
  print("Yes it's correct")

Yes it's correct

In [8]:
a = 8.4
b = "hello"

#hello

print(a)

8.4

In [12]:
a, b, c = "hello", "Hi", 8.9
print(c)

8.9

In [86]:
x = "Srilanka"
y = "India"

z = x +" "+ y
print(z)

Srilanka India

In [18]:
x = "Srilanka"

def func():
  x = "India"
  print("I love" + x)

func()

print("I love" + x)

I loveIndia
I loveSrilanka

In [23]:
x = "hi"
def func():
  global x
  x = "hello"

func()
print("I love" + x)

I lovehello

str
int
float
list
tuples

In [26]:
a = ["hi", "hello", "welcome"]

print(type(a))

<class 'list'>

In [27]:
a = ("hi", "hello", "welcome")

print(type(a))

<class 'tuple'>

In [29]:
a = {"hi", "hello", "welcome"}

print(type(a))

<class 'set'>

In [ ]:
Python Numbers - int, float, complex

In [33]:
x = 10
y = 2.6
z = 6+6j

a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

10.0
2
(10+0j)

In [ ]:
Strings

In [34]:
a = """hahshsh
shshjsh
shshsh"""
print(a)

hahshsh
shshjsh
shshsh

In [36]:
a = "hello"
print(a[0])

h

In [47]:
b = "Welcome world"
print(b[-3])

print(len(b))

print(b.strip())

print(b.lower())
print(b.upper())

print(b.replace("W", "o"))

r
13
Welcome world
welcome world
WELCOME WORLD
oelcome world

In [49]:
#Concatenation

a = "hi"
b = "welcome"
c = a + " "+ b
print(c)

hi welcome

In [51]:
print(100<10)

False

In [53]:
a = 100
b = 200

if b>a:
  print("Yes correct")
else:
  print("Wrong")

print(bool("Hi"))

Yes correct
True

In [ ]:
Operators:
Arithmetic - =,-,/,*
Comparison - <,>.==
Loogical - and or not
Bitwise - and &
OR |
XOR ^
NOT -

In [55]:
list = ["india", "srilanka", "malaysia"]

for x in list:
  print(x)


  print(x)

india
srilanka
malaysia

NameError: name 'thislist' is not defined

In [90]:
list = ["india", "srilanka", "malaysia"]

if "india" in list:
  print("Yes")
else:
  print("No")
print(len(list))

list.append("singapore")
print(list)

list.insert(1, "asia")
print(list)

list.remove("malaysia")
print(list)

list.pop()
print(list)

Yes
3
['india', 'srilanka', 'malaysia', 'singapore']
['india', 'asia', 'srilanka', 'malaysia', 'singapore']
['india', 'asia', 'srilanka', 'singapore']
['india', 'asia', 'srilanka']

In [66]:
list = ["india", "srilanka", "malaysia"]

list.pop()
print(list)

del list

['india', 'srilanka']

TypeError: unbound method list.clear() needs an argument

In [67]:
list = ["india", "srilanka", "malaysia"]

list.clear()
print(list)

[]

In [68]:
list1 = ["india", "srilanka", "malaysia"]
list2 = ["USA"]

list3 = list1 + list2
print(list3)

['india', 'srilanka', 'malaysia', 'USA']

append()
clear()
insert()
pop()
remove()

In [75]:
x = ("india", "srilanka", "malaysia")
# y = list(x)

# y[1] = "USA"

# x = tuple(y)
# print(x)

print(len(x))

3

TypeError: 'tuple' object is not callable

In [77]:
set = {"india", "srilanka", "malaysia"}
print(set)

{'india', 'malaysia', 'srilanka'}

In [81]:
set = {"india", "srilanka", "malaysia"}
set.add("USA")

print(set)

set.remove("india")
print(set)

set.clear()
print(set)

del set
print(set)

{'USA', 'india', 'malaysia', 'srilanka'}
{'USA', 'malaysia', 'srilanka'}
set()
<class 'set'>

In [85]:
set1 = {"india", "srilanka", "malaysia"}
set2 = {"india", "srilanka", "malaysia", "USA"}

set3 = set1.union(set2)

print(set3)

{'USA', 'malaysia', 'india', 'srilanka'}

In [83]:
set1 = {"india", "srilanka", "malaysia"}
set2 = {"india", "srilanka", "malaysia", "USA"}

set3 = set1.intersection(set2)

print(set3)

{'india', 'malaysia', 'srilanka'}

In [84]:
set1 = {"india", "srilanka", "malaysia"}
set2 = {"india", "srilanka", "malaysia", "USA"}

set1.update(set2)
print(set1)

{'USA', 'malaysia', 'india', 'srilanka'}

update()
intersection()
union()
add()
clear()

In [87]:
dict = {
    "india": "chennai",
    "mumbai": "usa",
    "kerala": "kolkata"
    }

print(type(dict))

<class 'dict'>