<a href="https://colab.research.google.com/github/Aswinramesh04/Python-Course/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
map(), filter(), reduce(), lambda() - built in function

In [ ]:
list = [1,2,3,4,5]
def double(num):
  for i in num:
    print(i*i)

result = double(list)

1
4
9
16
25

In [ ]:
x = [1,2,3,4,5]

def double(num):
  return num + num

result = list(map(double, x))
print(result)

TypeError: 'list' object is not callable

In [ ]:
x = [1, 2, 3, 4, 5]

def double(num):
    return num * num

result = list(map(double, x))
print(result)
print(type(list))

TypeError: 'list' object is not callable

In [ ]:
*args and **kwargs

In [ ]:
def demo(a,b):
  c = a+b
  print(c)

demo(10,20)

30

In [ ]:
def demo(*args): # non-keyword argument
  sum = 0
  for i in args:
    sum+=i
    print(sum)
demo(100,200,300)

100
300
600

In [ ]:
def sample(name, age, city):
  print(f"Name: {name}")
  print(f"Age : {age}")
  print(f"City : {city}")

sample("dinesh", 20, "usa")

Name: dinesh
Age : 20
City : usa

In [ ]:
def sample(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

sample(name="Aswin", age = 20, city = "chennai")
sample(name="Aswin", age = 20, city = "chennai", salary = 1000)

name: Aswin
age: 20
city: chennai
name: Aswin
age: 20
city: chennai
salary: 1000

In [ ]:
# Python lambda

def add(x,y):
  return x+y
add(10,20)

30

In [ ]:
a = lambda x,y: x+y
print(a(10,20))

30

In [ ]:
# Python json

In [ ]:
JSON - javascript object notation

In [ ]:
import json

x = '{"name":"joy", "age":30, "city":"us"}'  # some json

y = json.loads(x) #parse x

print(y["city"])
print(type(y))

us
<class 'dict'>

In [ ]:
import json

x = '[1, 2, 3, 4, 5]'

list1 = json.loads(x)
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
import json
x = {
    "name": "doshan",
    "age": 20,
    "city" : "germany"
}

y = json.dumps(x) #converting into the json
print(y)
print(type(y))

{"name": "doshan", "age": 20, "city": "germany"}
<class 'str'>

In [ ]:
import json

x = [1, 2, 3, 4, 5]

list1 = json.dumps(x)
print(list1)

print(type(list1))

[1, 2, 3, 4, 5]
<class 'str'>

In [ ]:
filter(), reduce()

[1,2,3,4,5]
filter -

In [ ]:
demo = [1,2,3,4,5]
even = []

for i in demo:
  if i%2==0:
    even.append(i)

print(even)

[2, 4]

In [ ]:
demo = [1,2,3,4,5]

x = filter(lambda x: x%2==0, demo)
print(x)

<filter object at 0x7f56c4671c60>

In [ ]:
demo = [1, 2, 3, 4, 5]
x = list(filter(lambda x: x % 2 == 0, demo))
print(x)  # Output: [2, 4]

TypeError: 'list' object is not callable

In [ ]:
demo = [1,2,3,4,5]

# x = list(filter(demo, lambda x: x%2==0))
# print(x)

x = list(filter(demo, [lambda x: x%2==0]))
print(x)

TypeError: 'list' object is not callable