<a href="https://colab.research.google.com/github/Aswinramesh04/Python-Course/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Day 2 Revision

In [1]:
#case-sensitive
a = 5
A ="srilanka"

print(a)
print(A)

5
srilanka

In [8]:
#Rulesmynum = [1,2,3] # starting should not be a num, no spaces, no "-"
print(mynum)

[1, 2, 3]

In [11]:
#multi word variable techniques:

#camel case
iLoveSrilanka = [1,2,3]
print(iLoveSrilanka)
#pascal case
ILoveSriLanka = [1,2,3]
print(iLoveSriLanka)

#snake case
i_Love_Srilanka = [1,2,3]
print(i_Love_Srilanka)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [ ]:
33 keywords reserved - True,false,None

In [ ]:
x = 10 #literals

In [ ]:
# Operators

# Arithmetic - +,-,/,%,**
# relational - <,>,==,!=
# logical - and or not
# Membership operator - in, not in

In [17]:
a = 3 #(/,%)
b = 4

a**b

81

In [13]:
a = 100 #logical
b = 200

if a!=b:
  print("correct")
else:
  print("Not correct")

correct

In [19]:
x = 5

print(x>3 and x<10)
print(x>3 or x<10)

True
True

In [21]:
#format strings
name = "Joy"
age = 20

sample = f"Hello, my name is {name} and I'm {age} years old."
print(sample)

Hello, my name is Joy and I'm 20 years old.

In [22]:
#range

sample = range(10)
for i in sample:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
#range
def multiplication_table(n):
  for i in range(1,16):
    print(f"{n} * {i} = {n * i}")
multiplication_table(10)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150

In [27]:
#random

import random
print(random.randrange(1,100))

8

In [ ]:
a-z@#!$%0-9

In [31]:
#python casting - int,str,float

x = int(2.8)
y = int("3")
z = float(10)

print(x)
print(y)
print(z)

2
3
10.0

In [33]:
#Membership operator

txt = "I love srilanka"
print("USA" in txt)

False

In [36]:
txt = "I love srilanka"
if "US" in txt:
  print("Yes, it's present")
else:
  print("Not present")

Not present

In [37]:
txt = "I love srilanka"
print("china" not in txt)

True

In [44]:
b = "Hello, srilanka!"

print(b[2:6])
print(b[3:])
print(b[:10])
print(b[-5:-2]) #negative indexing
print(b[::])
print(b.strip()) #removes whitespace at the beg and the end

llo,
lo, srilanka!
Hello, sri
ank
Hello, srilanka!
Hello, srilanka!

In [48]:
b = "Hello, srilanka!"

print(b.strip())
print(b.replace("H","J"))
print(len(b))
print(b.split("l"))

Hello, srilanka!
Jello, srilanka!
16
['He', '', 'o, sri', 'anka!']

In [50]:
#escape characters
txt = "I love \"srilanka\" India and china"
print(txt)

I love "srilanka" India and china

In [51]:
txt = "I love \'srilanka\' India and china"
print(txt)

I love 'srilanka' India and china

In [52]:
txt = "I love \'srilanka\' \nIndia and china"
print(txt)

I love 'srilanka'
India and china

In [ ]:
List -
mutable, ordered,[]
append
pop
reverse
sort
slicing for accesing list

In [54]:
list = [100, 3, 5, 8, 7]
list.sort() #ascending
print(list)

list.reverse()
print(list)

[3, 5, 7, 8, 100]
[100, 8, 7, 5, 3]

In [ ]:
Tuples - immutable , nested, cannot modify, once created remains static().
concatenation - #used for data integrity and security

In [55]:
nested_tuple = ((1,2),(3,4))
print(nested_tuple)

((1, 2), (3, 4))

In [57]:
tuple1 = (1,2,3)

result = tuple1 * 3
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [64]:
#Set - Unordered collection of unique sumbols
# No duplicates, mutable also
#add.
#pop
#insert
#len

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set2 - set1


print(union_set)
print(intersection_set)
print(difference_set)

{1, 2, 3, 4, 5}
{3}
{4, 5}

In [65]:
list = [1,2,3,2,4,4,5]
result = set(list)
print(result)

{1, 2, 3, 4, 5}

In [ ]:
#Dictonary: unoredered, collection of key value pairs , no duplicates

In [69]:
dict = {"name": "joy", "age": 30, "city":"srilanka"}

dict.update({"mark": 100})
print(dict)

name1 = dict["age"]
print(name1)

{'name': 'joy', 'age': 30, 'city': 'srilanka', 'mark': 100}
30

list - []
set - {}
dict = {}
tuple - ()

In [ ]:
# loops
# for
# if else
# while

In [71]:
#Break statement
car = ["bmw","audi","polo"]
for i in car:
  print(i)
  if i == "audi":
    break

bmw
audi

In [73]:
#continue
car = ["bmw","audi","polo"]
for i in car:
  if i == "audi":
    continue
  print(i)

bmw
polo

In [ ]:
Functions - collection of statements, def
 1. With No arguments and No return

In [74]:
#1. With No arguments and No return

def add():
  a = 10
  b = 20
  sum = a+b
  print("calling the function:",sum)
add()

calling the function: 30

In [76]:
#2. No argument and with return
def Multiplication():
  a = 10
  b = 20
  Multi = a * b
  return Multi
print("calling the function:",Multiplication())

calling the function: 200

In [79]:
#3. With Argument and No return
def Multiplication(a,b):

  Multi = a * b
  print("calling the function:",Multi)

Multiplication(10,20)

calling the function: 200

In [82]:
#4. With Argument and with return

def add(a,b):

  sum = a+b
  return sum
print("calling the function:",sum)
add(100,200)

calling the function: <built-in function sum>

300

In [83]:
list = ['a', 'b', 'c', 'd'] #pass statement
for i in list:
  if (i =='a'):
    pass
  else:
    print(i)

b
c
d