<a href="https://colab.research.google.com/github/Aswinramesh04/Python-Course/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#bookstore - class &object

In [1]:
class Book: #sample class & object
  def __init__(self, referenceno, title, author, price):
    self.referenceno = referenceno
    self.title = title
    self.author = author
    self.price = price

  def __repr__(self): #special method
    return f"Book: {self.referenceno},title: {self.title}, Author:{self.author}, Price: {self.price} "

book1 = Book(121, "titanic", "Author1", 100)
book2 = Book(101, "titanic", "Author1", 200)
book3 = Book(121, "titanic", "Author1", 300)   #Instantiate method

print(book1)
print(book2)
print(book3)

Book: 121,title: titanic, Author:Author1, Price: 100
Book: 101,title: titanic, Author:Author1, Price: 200
Book: 121,title: titanic, Author:Author1, Price: 300

In [ ]:
#polymorphism - on various classes, one method it occurs in various forms)

In [3]:
class Dog:
  def __init__(self, name):
    self.name = name

  def move(self):
    print(f"{self.name} runs!")


class Fish:
  def __init__(self, name):
    self.name = name

  def move(self):
    print(f"{self.name} swims!")



class Bird:
  def __init__(self, name):
    self.name = name

  def move(self):
    print(f"{self.name} fly!")

dog1 = Dog("Jack")
fish1 = Fish("abc")
bird1 = Bird("cbv")

for i in (dog1, fish1, bird1):
  i.move()

Jack runs!
abc swims!
cbv fly!

In [37]:
#Inheritance over polymorphism
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

    def move(self):
      print("Move")

class Car(Vehicle):
  def move(self):
      print("Run") #pass

class Flight(Vehicle):
  def move(self):
      print("Fly")

class Boat(Vehicle):
  def move(self):
      print("swim")

car1 = Car("Audi", "A4")
flight1 = Flight("Indigo", "A320")
boat1 = Boat("Titanic", "123")

for i in (car1, flight1, boat1):
  print(i.brand)
  print(i.model)
  i.move()

Audi
A4
Run
Indigo
A320
Fly
Titanic
123
swim

In [ ]:
#Encapsulation - private attribute cannot be accesessed at outside.

In [14]:
class Product:
  def __init__(self, name, price):
    self.name = name  #public attribut
    self._price = price  #encapsulated attribue / private

  def get_price(self):
    return self._price  #getter method to access the encapsulated attribute

  def set_price(self, price):
    if price >= 0:
      self._price = price
    else:
      print("price cannot be negative")      #to modify the private attribute

product = Product("Samsung", 500) #Instantiate

print("product Name:", product.name) #public attribute

print("Product price:", product.get_price()) #private attribute

product.set_price(-600)
print("Updated Price:", product.get_price())

product Name: Samsung
Product price: 500
price cannot be negative
Updated Price: 500

In [26]:
#Bookstore

class Book:
  def __init__(self, title, quantity, author, price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price #private attribute
    self.__discount = None


  def set_discount(self, discount):
    self.__discount = discount

  def get_price(self):
    if self.__discount:
      return self.__price * (1-self.__discount)  #1-0.2(20% discount)-->80% after discounted price
    else:
      return self.__price

  def __str__(self):
    return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, price: {self.get_price()} "

book1 = Book("abc", 20, "James", 100)

single_book = Book("abc", 1, "James", 200)
bulk_book = Book("cvbg", 20, "Jack", 200)
bulk_book.set_discount(0.20)

# print(single_book.get_price)
# print(bulk_book.get_price)
print(single_book)
print(bulk_book)

Book: abc, Quantity: 1, Author: James, price: 200
Book: cvbg, Quantity: 20, Author: Jack, price: 160.0

In [27]:
class Calculator:

    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2


    def add(self):
        return self.num1+self.num2

    def mul(self):
        return self.num1*self.num2

    def sub(self):
        return self.num1-self.num2

    def div(self):
        return self.num1/self.num2

    def mod(self):
        return self.num1%self.num2

    def floo(self):
        return self.num1//self.num2


cal =Calculator(10,6)#object creation
print("Calcutator base function.....")
Addition=cal.add();
multiplication=cal.mul();
subration=cal.sub();
Divition=cal.div();
Modular=cal.mod();
Floor=cal.floo();

print("Add value:",Addition)
print("Mul value:",multiplication)
print("Sub value:",subration)
print("Div value:",Divition)
print("Mod value:",Modular)
print("Floor value:",Floor)

Calcutator base function.....
Add value: 16
Mul value: 60
Sub value: 4
Div value: 1.6666666666666667
Mod value: 4
Floor value: 1

In [31]:
class Calculator:
  def add(self, num1, num2):
    return num1 + num2
  def subtract(self, num1, num2):
    return num1 - num2
  def multiply(self, num1, num2):
    return num1 * num2

  def divide(self, num1, num2):
    if num2 == 0:
      print("Cannot divide")
    else:
      num1/num2

calculator = Calculator()

num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
operation = input("Enter operation (+, -, *, /): ")

if operation == '+':
  result = calculator.add(num1, num2)
elif operation == '-':
  result = calculator.subtract(num1, num2)
elif operation == '*':
  result = calculator.multiply(num1, num2)
elif operation == '/':
  result = calculator.divide(num1, num2)
else:
  result = "Invalid operation."

print("Result:", result)

Enter the first number:10
Enter the second number:90
Enter operation (+, -, *, /): @
Result: Invalid operation.

In [33]:
class Student:

    def __init__(self,name,rollnumber):
        self.name=name
        self.rollnumber=rollnumber



    def Display(self):
        print("Student anme is ",self.name)
        print("Enroll number is ",self.rollnumber)

    def setAge(self,age):
        self.age=age
        return f"my Age is {self.age}"

    def setMarks(self,mar):
        self.mar=mar
        return f"my marks is {self.mar}"

student_name = input("Enter student name: ")
roll_number = input("Enter the roll num:")

student1 = Student(student_name, roll_number)
student1.Display();
# age=student1.setAge=25;
# marks=student1.setMarks=93;

# print("Student Age is:",age)
# print("Siudent Marks is:",marks)

age = int(input("Enter student's age: "))
marks = float(input("Enter the marks: "))

print(student1.setAge(age));
print(student1.setMarks(marks));

Enter student name: Aswin
Enter the roll num:100
Student anme is  Aswin
Enroll number is  100
Enter student's age: 20
Enter the marks: 100
my Age is 20
my marks is 100.0

In [36]:
class Circle:

    def __init__(self,radius):
        self.radius=radius

    def getArea(self):
        return f"This circle Area is(22/7*radius*radius):{22/7*self.radius*self.radius}"

    def getCircumference(self):
        return f"This circle Circumference is(2*22/7*radius):{2*3.14*self.radius}"


circle1=Circle(7);#object creation

x=circle1.getArea();
y=circle1.getCircumference();

print(x);
print(y);

This circle Area is(22/7*radius*radius):154.0
This circle Circumference is(2*22/7*radius):43.96